body{background-color: #f7bc29;}



h2{font-family: 'Martian Mono', monospace;font-size: 4vh;text-align: center;margin-left: 10px;color: #980A06;}
p{font-family: 'Inclusive Sans', sans-serif;font-size: 3vh;text-align: center;color: #210F00;}
h3{font-size: 4vh;text-align: center;color: #980A06;}
ul{font-family: 'Open Sans', sans-serif;font-size: 2.7vh;text-align: center;color: #210F00;}
h4{font-size: 4vh;text-align: center;color: #980A06;}
ol{font-family: 'Playfair Display', serif;font-size: 2.7vh;text-align: center;color: #210F00;}
.CENTRADOIMAGENES{text-align: center;}
.img1{width: 50vh;background-color: red;}
.img2{width: 50vh;}
.conborde {width:85vh;}


header{background-color:yellow;padding: 10px;display: flex;flex-wrap: wrap;text-align: left;justify-content:space-between;align-items: center;}
.logo{width: 65vh;text-align: left;display: block;}
h1{font-family: 'Martian Mono', monospace; display:inline-block;font-size: 5vh;color: #4F4C4B;}



nav{float: right;}
nav ul{list-style: none;overflow: hidden;position: fixed;text-align: left;}
nav ul li{float: right;}
nav ul li a{display: block;padding: 20px;color: #10351c;text-decoration: none; font-size:2.2vh;}
nav ul li:hover{background: black;}
section{background-color: green;width: 80vh;text-align: center;}
.conborde1 {width: 85vh;}




footer{background-color: brown;padding: 20px;display: flex;flex-wrap: wrap;text-align: left;justify-content: space-between;align-items: center;}
a{display: inline-block;padding: 10px;border-radius: 5px;text-decoration: none;font-size: 4vh;font-weight: bold;}
.infocontacto{font-size: 18px; text-align: right;color: #f5f403;}


aside{background-color:green; width:35vh;}
.btn-wsp{position: fixed;width: 10vh;line-height: 10vh;bottom: 20vh;right: 5vh;background: green;border-radius: 10vh;color: white;text-align: center;font-size: 6vh;box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);z-index: 100;}
.btn-wsp:hover{text-decoration: none;color: green;background: white;}

.FB{width: 10vh;}
.IG{width: 10vh;}

.contactos:hover{background: black; width: 25vw;}
.contactos a{font-size: 4vh;}
.index:hover{background: blue;width: 25vw}
